<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form method="POST" th:action="@{/addparticipant}">
            <select name="batchClass" id="batchClass">
                <option th:each="as : ${batchClasses}" th:value="${as.id}" th:text="${as.batch.id + ' ' + as.class1.name}"></option>
            </select> 
            <input th:each="as : ${participants}" type="checkbox" name="participants" id="participants" th:value="${as.id}" th:text="${as.firstName + ' ' + as.lastName}">
            <input type="submit" value="submit">
        </form>
    </body>
</html>
